{% ckan_extends %}
{% block styles %}
    {{ super() }}

    {% asset 'wprdctheme/wprdc_theme-css' %}
    {% asset 'wprdctheme/wprdc_theme_popover-js' %}

{% endblock %}

{% block bodytag %} style=""{% endblock %}

{% block scripts %}
    {% snippet "snippets/terms-modal.html" %}
    <noscript>
        <style>
            body {
                visibility: visible !important;
            }
        </style>
    </noscript>

    <script>
        let domReady = (cb) => {
            document.readyState === 'interactive' || document.readyState === 'complete'
                ? cb()
                : document.addEventListener('DOMContentLoaded', cb);
        };

        domReady(() => {
            // Display body when DOM is loaded
            document.body.style.visibility = 'visible';
        });
    </script>

    <!-- Matomo -->
    <script>
    console.debug('hey')
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.wprdc.org/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
{% endblock %}

